src/lib/sunat/wsdl/billService-local.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://service.sunat.gob.pe"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="billService" 
    targetNamespace="http://service.sunat.gob.pe">

    <!-- Types -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.sunat.gob.pe">
            <!-- sendBill -->
            <xsd:element name="sendBill" type="tns:sendBillType"/>
            <xsd:complexType name="sendBillType">
                <xsd:sequence>
                    <xsd:element name="fileName" type="xsd:string"/>
                    <xsd:element name="contentFile" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="sendBillResponse" type="tns:sendBillResponseType"/>
            <xsd:complexType name="sendBillResponseType">
                <xsd:sequence>
                    <xsd:element name="applicationResponse" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- sendSummary -->
            <xsd:element name="sendSummary" type="tns:sendSummaryType"/>
            <xsd:complexType name="sendSummaryType">
                <xsd:sequence>
                    <xsd:element name="fileName" type="xsd:string"/>
                    <xsd:element name="contentFile" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="sendSummaryResponse" type="tns:sendSummaryResponseType"/>
            <xsd:complexType name="sendSummaryResponseType">
                <xsd:sequence>
                    <xsd:element name="ticket" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- getStatus -->
            <xsd:element name="getStatus" type="tns:getStatusType"/>
            <xsd:complexType name="getStatusType">
                <xsd:sequence>
                    <xsd:element name="ticket" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="getStatusResponse" type="tns:getStatusResponseType"/>
            <xsd:complexType name="getStatusResponseType">
                <xsd:sequence>
                    <xsd:element name="status" type="tns:statusType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="statusType">
                <xsd:sequence>
                    <xsd:element name="content" type="xsd:base64Binary" minOccurs="0"/>
                    <xsd:element name="statusCode" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- sendPack -->
            <xsd:element name="sendPack" type="tns:sendPackType"/>
            <xsd:complexType name="sendPackType">
                <xsd:sequence>
                    <xsd:element name="fileName" type="xsd:string"/>
                    <xsd:element name="contentFile" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="sendPackResponse" type="tns:sendPackResponseType"/>
            <xsd:complexType name="sendPackResponseType">
                <xsd:sequence>
                    <xsd:element name="applicationResponse" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <!-- Messages -->
    <wsdl:message name="sendBillRequest">
        <wsdl:part name="parameters" element="tns:sendBill"/>
    </wsdl:message>
    <wsdl:message name="sendBillResponse">
        <wsdl:part name="parameters" element="tns:sendBillResponse"/>
    </wsdl:message>
    
    <wsdl:message name="sendSummaryRequest">
        <wsdl:part name="parameters" element="tns:sendSummary"/>
    </wsdl:message>
    <wsdl:message name="sendSummaryResponse">
        <wsdl:part name="parameters" element="tns:sendSummaryResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getStatusRequest">
        <wsdl:part name="parameters" element="tns:getStatus"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part name="parameters" element="tns:getStatusResponse"/>
    </wsdl:message>
    
    <wsdl:message name="sendPackRequest">
        <wsdl:part name="parameters" element="tns:sendPack"/>
    </wsdl:message>
    <wsdl:message name="sendPackResponse">
        <wsdl:part name="parameters" element="tns:sendPackResponse"/>
    </wsdl:message>

    <!-- PortType -->
    <wsdl:portType name="billService">
        <wsdl:operation name="sendBill">
            <wsdl:input message="tns:sendBillRequest"/>
            <wsdl:output message="tns:sendBillResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendSummary">
            <wsdl:input message="tns:sendSummaryRequest"/>
            <wsdl:output message="tns:sendSummaryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input message="tns:getStatusRequest"/>
            <wsdl:output message="tns:getStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sendPack">
            <wsdl:input message="tns:sendPackRequest"/>
            <wsdl:output message="tns:sendPackResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Binding -->
    <wsdl:binding name="BillServicePortBinding" type="tns:billService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendBill">
            <soap:operation soapAction="urn:sendBill"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendSummary">
            <soap:operation soapAction="urn:sendSummary"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="urn:getStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendPack">
            <soap:operation soapAction="urn:sendPack"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service - BETA -->
    <wsdl:service name="billService">
        <wsdl:port name="BillServicePort" binding="tns:BillServicePortBinding">
            <soap:address location="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
